Repository danth/stylix, changes with the labels that .github/labeler.yml gives for each.
All labels: backport: release-25.05, topic: dependencies, topic: documentation, topic: nixos, topic: home-manager, topic: darwin, topic: droid, topic: overlay, topic: testbed

wayfire: capitalize humanName value
  modules/wayfire/hm.nix
Labels: topic: home-manager

wayfire: capitalize humanName value (#1451)
  modules/wayfire/hm.nix
Labels: topic: home-manager

wayfire: capitalize humanName value (#1451)
  modules/wayfire/hm.nix
Labels: topic: home-manager

wayprompt: drop '-hex' suffix on single color value (#1449)
  modules/wayprompt/hm.nix
Labels: topic: home-manager

wayprompt: drop '-hex' suffix on single color value (#1449)
  modules/wayprompt/hm.nix
Labels: topic: home-manager

wayfire: capitalize humanName value (#1451)
  modules/wayfire/hm.nix
Labels: topic: home-manager

wayprompt: drop '-hex' suffix on single color value (#1449)
  modules/wayprompt/hm.nix
Labels: topic: home-manager

doc: init server; `nix run .#docs` (#1328)
  doc/server.nix
  doc/src/modules.md
  flake/dev-shell.nix
  flake/packages.nix
Labels: none

doc: init server; `nix run .#docs` (#1328)
  doc/server.nix
  doc/src/modules.md
  flake/dev-shell.nix
  flake/packages.nix
Labels: none

doc: init server; `nix run .#docs` (#1328)
  doc/server.nix
  doc/src/modules.md
  flake/dev-shell.nix
  flake/packages.nix
Labels: none

doc: use minimal module evals
  doc/default.nix
  doc/eval_compat.nix
  doc/hm_compat.nix
  doc/settings.nix
  flake/packages.nix
  modules/swaylock/hm.nix
Labels: topic: home-manager

doc: note that `mkEnableTarget` should hvae a static `autoEnable`
  doc/src/modules.md
Labels: none

doc: ensure `pkgs` is not used in option docs
  doc/default.nix
  modules/qt/hm.nix
  modules/qt/nixos.nix
Labels: topic: nixos, topic: home-manager

font-packages: init
  modules/font-packages/darwin.nix
  modules/font-packages/hm.nix
  modules/font-packages/meta.nix
  modules/font-packages/nixos.nix
  stylix/darwin/default.nix
  stylix/darwin/fonts.nix
  stylix/hm/fonts.nix
  stylix/nixos/fonts.nix
Labels: topic: nixos, topic: home-manager, topic: darwin

fontconfig: init
  modules/font-packages/meta.nix
  modules/fontconfig/hm.nix
  modules/fontconfig/meta.nix
  modules/fontconfig/nixos.nix
  stylix/hm/default.nix
  stylix/hm/fonts.nix
  stylix/nixos/default.nix
  stylix/nixos/fonts.nix
Labels: topic: nixos, topic: home-manager

font-packages: init
  modules/font-packages/darwin.nix
  modules/font-packages/hm.nix
  modules/font-packages/meta.nix
  modules/font-packages/nixos.nix
  stylix/darwin/default.nix
  stylix/darwin/fonts.nix
  stylix/hm/fonts.nix
  stylix/nixos/fonts.nix
Labels: topic: nixos, topic: home-manager, topic: darwin

fontconfig: init
  modules/font-packages/meta.nix
  modules/fontconfig/hm.nix
  modules/fontconfig/meta.nix
  modules/fontconfig/nixos.nix
  stylix/hm/default.nix
  stylix/hm/fonts.nix
  stylix/nixos/default.nix
  stylix/nixos/fonts.nix
Labels: topic: nixos, topic: home-manager

flake: move deprecation module to its own directory
  flake/default.nix
  flake/deprecation/default.nix
Labels: none

fontconfig: init
  modules/font-packages/meta.nix
  modules/fontconfig/hm.nix
  modules/fontconfig/meta.nix
  modules/fontconfig/nixos.nix
  stylix/hm/default.nix
  stylix/hm/fonts.nix
  stylix/nixos/default.nix
  stylix/nixos/fonts.nix
Labels: topic: nixos, topic: home-manager

font-packages: init
  modules/font-packages/darwin.nix
  modules/font-packages/hm.nix
  modules/font-packages/meta.nix
  modules/font-packages/nixos.nix
  stylix/darwin/default.nix
  stylix/darwin/fonts.nix
  stylix/hm/fonts.nix
  stylix/nixos/fonts.nix
Labels: topic: nixos, topic: home-manager, topic: darwin

qt: use a static `autoEnable=true` on NixOS
  modules/qt/nixos.nix
Labels: topic: nixos

stylix: allow specifying `autoEnableExpr` in `mkEnableTargetWith`
  doc/src/modules.md
  stylix/target.nix
Labels: none

stylix: use `mkEnableTargetWith` in `mkTarget`
  stylix/mk-target.nix
Labels: none

stylix: add `mkEnableIf`
  stylix/target.nix
Labels: none

stylix: simplify `mkEnableTarget` & `mkEnableWallpaper` defaultText
  stylix/target.nix
Labels: none

stylix: split `mkEnableTarget` into `mkEnableTargetWith`
  stylix/target.nix
Labels: none

treewide: use `mkEnableTargetWith` for dynamic conditions
  modules/feh/hm.nix
  modules/feh/nixos.nix
  modules/gnome/hm.nix
  modules/hyprland/hm.nix
  modules/qt/hm.nix
  modules/swaylock/hm.nix
Labels: topic: nixos, topic: home-manager

flake: introduce a `perSystem.stylix.aliases` option
  flake/deprecation/default.nix
  flake/deprecation/per-system-option.nix
Labels: none

flake: rename `packages.«system».docs` → `packages.«system».doc`
  doc/server.nix
  flake/deprecation/default.nix
  flake/dev-shell.nix
  flake/packages.nix
Labels: none

flake: include 'until' in rename warning
  flake/deprecation/default.nix
  flake/deprecation/per-system-option.nix
Labels: none

ci: add 'has: port to stable' label for backports (#1367)
  .github/workflows/backport.yml
Labels: backport: release-25.05

ci: add 'has: port to stable' label for backports (#1367)
  .github/workflows/backport.yml
Labels: backport: release-25.05

flake: rename `packages.«system».docs` → `packages.«system».doc`
  doc/server.nix
  flake/deprecation/default.nix
  flake/dev-shell.nix
  flake/packages.nix
Labels: none

flake: move deprecation module to its own directory
  flake/default.nix
  flake/deprecation/default.nix
Labels: none

flake: introduce a `perSystem.stylix.aliases` option
  flake/deprecation/default.nix
  flake/deprecation/per-system-option.nix
Labels: none

flake: include 'until' in rename warning
  flake/deprecation/default.nix
  flake/deprecation/per-system-option.nix
Labels: none

flake: rename `packages.«system».docs` → `packages.«system».doc`
  doc/server.nix
  flake/deprecation/default.nix
  flake/dev-shell.nix
  flake/packages.nix
Labels: none

flake: include 'until' in rename warning
  flake/deprecation/default.nix
  flake/deprecation/per-system-option.nix
Labels: none

flake: move deprecation module to its own directory
  flake/default.nix
  flake/deprecation/default.nix
Labels: none

flake: introduce a `perSystem.stylix.aliases` option
  flake/deprecation/default.nix
  flake/deprecation/per-system-option.nix
Labels: none

.github/labeler.yml:

# This file is used by .github/workflows/labels.yml
# This version uses `sync-labels: false`, meaning that a non-match will NOT
# remove the label
---
"backport: release-25.05":
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/*"

"topic: dependencies":
  - changed-files:
      - any-glob-to-any-file: "flake.lock"

"topic: documentation":
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "README.md"

"topic: nixos":
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/nixos/*"
          - "modules/*/nixos.nix"

"topic: home-manager":
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/hm/**"
          - "modules/*/hm.nix"

"topic: darwin":
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/darwin/**"
          - "modules/*/darwin.nix"

"topic: droid":
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/droid/**"
          - "modules/*/droid.nix"

"topic: overlay":
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/overlays.nix"
          - "modules/*/overlay.nix"

"topic: testbed":
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/testbed/**"
          - "modules/testbed/**"
