Repository danth/stylix, changes with the labels that .github/labeler.yml gives for each.
All labels: backport: release-25.05, topic: dependencies, topic: documentation, topic: nixos, topic: home-manager, topic: darwin, topic: droid, topic: overlay, topic: testbed

.github/labeler.yml:

# This file is used by .github/workflows/labels.yml
# This version uses `sync-labels: false`, meaning that a non-match will NOT
# remove the label
---
"backport: release-25.05":
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/*"

"topic: dependencies":
  - changed-files:
      - any-glob-to-any-file: "flake.lock"

"topic: documentation":
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "README.md"

"topic: nixos":
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/nixos/*"
          - "modules/*/nixos.nix"

"topic: home-manager":
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/hm/**"
          - "modules/*/hm.nix"

"topic: darwin":
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/darwin/**"
          - "modules/*/darwin.nix"

"topic: droid":
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/droid/**"
          - "modules/*/droid.nix"

"topic: overlay":
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/overlays.nix"
          - "modules/*/overlay.nix"

"topic: testbed":
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/testbed/**"
          - "modules/testbed/**"

ci: flake update 25.05
  .github/workflows/update-flake.yml
Labels: backport: release-25.05

ci: flake update 25.05 (#1434)
  .github/workflows/update-flake.yml
Labels: backport: release-25.05

ci: flake update 25.05 (#1434)
  .github/workflows/update-flake.yml
Labels: backport: release-25.05

ci: flake update 25.05 (#1434)
  .github/workflows/update-flake.yml
Labels: backport: release-25.05

feat: add grid levels, and more distinct region background color for the node editor, and add homepage url to meta
  modules/blender/Stylix.xml.mustache
  modules/blender/meta.nix
Labels: none

feat: looks slightly better (tabs for node editor)
  modules/blender/Stylix.xml.mustache
Labels: none

feat: fixes
  modules/blender/README.md
  modules/blender/hm.nix
Labels: topic: home-manager

change testbed location and formatting to follow new norms and revert foldl' to mapAttrs'
  modules/blender/hm.nix
  modules/blender/testbeds/default.nix
Labels: topic: home-manager

change testbed location and formatting to follow new norms and revert foldl' to mapAttrs'
  modules/blender/hm.nix
Labels: topic: home-manager

change testbed location and formatting to follow new norms and revert foldl' to mapAttrs'
  modules/blender/testbeds/blender.nix
Labels: none

feat: mapAttrs' should work?
  modules/blender/hm.nix
Labels: topic: home-manager

Update modules/blender/hm.nix
  modules/blender/hm.nix
Labels: topic: home-manager

fix: formatting
  modules/blender/hm.nix
Labels: topic: home-manager

ci: don't check repository_owner
  .github/workflows/conflicts.yml
  .github/workflows/labels.yml
  .github/workflows/update-flake.yml
Labels: backport: release-25.05

i3bar-river: init module
  modules/i3bar-river/hm.nix
  modules/i3bar-river/meta.nix
Labels: topic: home-manager

gnome-text-editor: use mkTarget (#1384)
  modules/gnome-text-editor/nixos.nix
  modules/gnome-text-editor/overlay.nix
Labels: topic: nixos, topic: overlay

gnome-text-editor: use mkTarget (#1384)
  modules/gnome-text-editor/nixos.nix
  modules/gnome-text-editor/overlay.nix
Labels: topic: nixos, topic: overlay

ncspot: polish extraOptions.background declaration
  modules/ncspot/hm.nix
Labels: topic: home-manager

gnome-text-editor: use mkTarget (#1384)
  modules/gnome-text-editor/nixos.nix
  modules/gnome-text-editor/overlay.nix
Labels: topic: nixos, topic: overlay

firefox: use mkTarget (#1339)
  modules/firefox/each-config.nix
  modules/firefox/hm.nix
Labels: topic: home-manager

firefox: use mkTarget (#1339)
  modules/firefox/each-config.nix
  modules/firefox/hm.nix
Labels: topic: home-manager

firefox: add naho as maintainer
  modules/firefox/meta.nix
Labels: none

firefox: add naho as maintainer (#1442)
  modules/firefox/meta.nix
Labels: none

firefox: add naho as maintainer (#1442)
  modules/firefox/meta.nix
Labels: none

firefox: use mkTarget (#1339)
  modules/firefox/each-config.nix
  modules/firefox/hm.nix
Labels: topic: home-manager

stylix: refactor overlay to mirror mkTarget
  modules/gnome-text-editor/overlay.nix
  modules/nixos-icons/overlay.nix
  stylix/autoload.nix
  stylix/mk-target/default.nix
  stylix/mk-target/lib.nix
  stylix/overlays.nix
Labels: topic: overlay

firefox: add naho as maintainer (#1442)
  modules/firefox/meta.nix
Labels: none

treewide: use mkTarget (batch 3)
  modules/emacs/hm.nix
  modules/eog/hm.nix
  modules/feh/nixos.nix
  modules/vim/hm.nix
  modules/wayfire/hm.nix
  modules/wayprompt/hm.nix
Labels: topic: nixos, topic: home-manager

gnome: use overlay.nix
  modules/gnome/nixos.nix
  modules/gnome/overlay.nix
Labels: topic: nixos, topic: overlay

ci: use ubuntu-24.04 for update-flake
  .github/workflows/update-flake.yml
Labels: backport: release-25.05

waybar: add option to add custom CSS after stylix
  modules/waybar/hm.nix
Labels: topic: home-manager

stylix: refactor `base16Scheme` and `lib.stylix.colors` assertion
  stylix/palette.nix
Labels: none

ci: use ubuntu-24.04 for update-flake (#1444)
  .github/workflows/update-flake.yml
Labels: backport: release-25.05

ci: use ubuntu-24.04 for update-flake (#1444)
  .github/workflows/update-flake.yml
Labels: backport: release-25.05

ci: use ubuntu-24.04 for update-flake (#1444)
  .github/workflows/update-flake.yml
Labels: backport: release-25.05

treewide: use mkTarget (batch 3) (#1371)
  modules/emacs/hm.nix
  modules/eog/hm.nix
  modules/feh/nixos.nix
  modules/vim/hm.nix
  modules/wayfire/hm.nix
  modules/wayprompt/hm.nix
Labels: topic: nixos, topic: home-manager

treewide: use mkTarget (batch 3) (#1371)
  modules/emacs/hm.nix
  modules/eog/hm.nix
  modules/feh/nixos.nix
  modules/vim/hm.nix
  modules/wayfire/hm.nix
  modules/wayprompt/hm.nix
Labels: topic: nixos, topic: home-manager

wayprompt: drop -hex suffix on single color value
  modules/wayprompt/hm.nix
Labels: topic: home-manager

treewide: use mkTarget (batch 3) (#1371)
  modules/emacs/hm.nix
  modules/eog/hm.nix
  modules/feh/nixos.nix
  modules/vim/hm.nix
  modules/wayfire/hm.nix
  modules/wayprompt/hm.nix
Labels: topic: nixos, topic: home-manager

doc: add `nix run .#docs` server
  doc/server.nix
  doc/src/modules.md
  flake/dev-shell.nix
  flake/packages.nix
Labels: none
