Repository danth/stylix, changes with the labels that .github/labeler.yml gives for each.
All labels: backport release-24.11, dependencies, documentation, nixos, home-manager, darwin, droid, overlay, testbed

doc: use lib.max
  docs/default.nix
Labels: documentation

doc: ensure code blocks are safely fenced (#1218)
  docs/default.nix
Labels: documentation

doc: fix use of `lib.max` in `longestFence`
  docs/default.nix
Labels: documentation

doc: fix longestFence usage of lib.max (#1231)
  docs/default.nix
Labels: documentation

doc: direct to all issues instead of open ones
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/change_option.yml
  .github/ISSUE_TEMPLATE/change_target.yml
  .github/ISSUE_TEMPLATE/new_option.yml
  .github/ISSUE_TEMPLATE/new_target.yml
Labels: none

sxiv: add testbed
  modules/sxiv/testbeds/default.nix
Labels: none

stylix: allow choosing testbed desktop
  flake.nix
  modules/bspwm/testbeds/default.nix
  modules/gnome/testbeds/default.nix
  modules/hyprland/testbeds/default.nix
  modules/kde/testbeds/default.nix
  stylix/testbed/default.nix
  stylix/testbed/desktops/bspwm.nix
  stylix/testbed/desktops/gnome.nix
  stylix/testbed/desktops/hyprland.nix
  stylix/testbed/desktops/kde.nix
Labels: none

updated testbeds and applied NAHO's recomendations including options to disable file modifications
  modules/rstudio/hm.nix
  modules/rstudio/testbeds/default.nix
Labels: home-manager

fixed permission on created file for rstudio-prefs
  modules/rstudio/hm.nix
Labels: home-manager

fixed missing run on chmod
  modules/rstudio/hm.nix
Labels: home-manager

doc: direct to all issues instead of open ones in issue templates (#1232)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/change_option.yml
  .github/ISSUE_TEMPLATE/change_target.yml
  .github/ISSUE_TEMPLATE/new_option.yml
  .github/ISSUE_TEMPLATE/new_target.yml
Labels: none

sxiv: add testbed (#1190)
  modules/sxiv/testbeds/default.nix
Labels: none

yazi: tweak colors
  modules/yazi/hm.nix
Labels: home-manager

treewide: name default testbeds
  modules/alacritty/testbeds/alacritty.nix
  modules/bat/testbeds/bat.nix
  modules/bspwm/testbeds/bspwm.nix
  modules/btop/testbeds/btop.nix
  modules/cavalier/testbeds/cavalier.nix
  modules/chromium/testbeds/chromium.nix
  modules/emacs/testbeds/emacs.nix
  modules/eog/testbeds/eog.nix
  modules/firefox/testbeds/firefox-gnome-theme.nix
  modules/firefox/testbeds/firefox.nix
  modules/foot/testbeds/foot.nix
  modules/fzf/testbeds/fzf.nix
  modules/gedit/testbeds/gedit.nix
  modules/ghostty/testbeds/ghostty.nix
  modules/glance/testbeds/glance-hm.nix
  modules/glance/testbeds/glance-nixos.nix
  modules/gnome-text-editor/testbeds/gnome-text-editor.nix
  modules/gnome/testbeds/gnome.nix
  modules/halloy/testbeds/halloy.nix
  modules/hyprland/testbeds/hyprland.nix
  modules/kde/testbeds/kde.nix
  modules/kitty/testbeds/kitty.nix
  modules/lazygit/testbeds/lazygit.nix
  modules/mpv/testbeds/mpv-modernz.nix
  modules/mpv/testbeds/mpv-uosc.nix
  modules/mpv/testbeds/mpv.nix
  modules/qutebrowser/testbeds/qutebrowser.nix
  modules/sxiv/testbeds/sxiv.nix
  modules/vscode/testbeds/vscode.nix
  modules/wezterm/testbeds/wezterm.nix
  modules/wofi/testbeds/wofi.nix
  modules/yazi/testbeds/yazi.nix
  modules/zathura/testbeds/zathura.nix
  stylix/testbed.nix
Labels: testbed

stylix: reduce testbed names
  docs/src/testbeds.md
  flake.nix
  stylix/testbed.nix
Labels: documentation, testbed

stylix: bump base16.nix flake
  flake.lock
Labels: dependencies

nixvim: fix using bg instead of guibg
  modules/nixvim/nixvim.nix
Labels: none

stylix: bump base16.nix flake (#1234)
  flake.lock
Labels: dependencies

Update .github/workflows/ping-maintainers.yml
  .github/workflows/ping-maintainers.yml
Labels: backport release-24.11

ci/update-flake: run every saturday
  .github/workflows/update-flake.yml
Labels: backport release-24.11

Revert "stylix: bump base16.nix flake (#1234)"
  flake.lock
Labels: dependencies

Revert "stylix: bump base16.nix flake" (#1237)
  flake.lock
Labels: dependencies

xfce: refactored the xfce-terminal addition
  modules/xfce/hm.nix
Labels: home-manager

.github/labeler.yml:

# This file is used by .github/workflows/labels.yml
# This version uses `sync-labels: false`, meaning that a non-match will NOT
# remove the label
---
"backport release-24.11":
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "flake.lock"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "README.md"

nixos:
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/nixos/*"
          - "modules/*/nixos.nix"

home-manager:
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/hm/**"
          - "modules/*/hm.nix"

darwin:
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/darwin/**"
          - "modules/*/darwin.nix"

droid:
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/droid/**"
          - "modules/*/droid.nix"

overlay:
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/overlays.nix"
          - "modules/*/overlay.nix"

testbed:
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/testbed.nix"
          - "modules/testbed/**"
