Repository danth/stylix, changes with the labels that .github/labeler.yml gives for each.
All labels: backport: release-25.05, topic: dependencies, topic: documentation, topic: nixos, topic: home-manager, topic: darwin, topic: droid, topic: overlay, topic: testbed

blender: init (#1147)
  modules/blender/README.md
  modules/blender/Stylix.xml.mustache
  modules/blender/hm.nix
  modules/blender/meta.nix
  modules/blender/testbeds/blender.nix
Labels: topic: home-manager

blender: init (#1147)
  modules/blender/README.md
  modules/blender/Stylix.xml.mustache
  modules/blender/hm.nix
  modules/blender/meta.nix
  modules/blender/testbeds/blender.nix
Labels: topic: home-manager

ci: add 'has: port to stable' label for backports (#1367)
  .github/workflows/backport.yml
Labels: backport: release-25.05

blender: init (#1147)
  modules/blender/README.md
  modules/blender/Stylix.xml.mustache
  modules/blender/hm.nix
  modules/blender/meta.nix
  modules/blender/testbeds/blender.nix
Labels: topic: home-manager

blender: move README into meta description
  modules/blender/README.md
  modules/blender/meta.nix
Labels: none

doc: Add VSCode color customization tip
  modules/vscode/meta.nix
Labels: none

blender: move README into meta description (#1460)
  modules/blender/README.md
  modules/blender/meta.nix
Labels: none

blender: move README into meta description (#1460)
  modules/blender/README.md
  modules/blender/meta.nix
Labels: none

blender: move README into meta description (#1460)
  modules/blender/README.md
  modules/blender/meta.nix
Labels: none

ci: don't check repository_owner (#1436)
  .github/workflows/conflicts.yml
  .github/workflows/labels.yml
  .github/workflows/update-flake.yml
Labels: backport: release-25.05

ci: don't check repository_owner (#1436)
  .github/workflows/conflicts.yml
  .github/workflows/labels.yml
  .github/workflows/update-flake.yml
Labels: backport: release-25.05

ci: don't check repository_owner (#1436)
  .github/workflows/conflicts.yml
  .github/workflows/labels.yml
  .github/workflows/update-flake.yml
Labels: backport: release-25.05

i3status-rust: apply background opacity
  modules/i3status-rust/hm.nix
  modules/i3status-rust/meta.nix
Labels: topic: home-manager

neovim: combine neovim, nixvim, nvf, and vim
  modules/neovim/darwin.nix
  modules/neovim/hm.nix
  modules/neovim/meta.nix
  modules/neovim/neovim.nix
  modules/neovim/nixos.nix
  modules/neovim/nixvim.nix
  modules/neovim/nvf.nix
  modules/neovim/vim.nix
  modules/nixvim/darwin.nix
  modules/nixvim/hm.nix
  modules/nixvim/meta.nix
  modules/nixvim/nixos.nix
  modules/nvf/darwin.nix
  modules/nvf/hm.nix
  modules/nvf/meta.nix
  modules/nvf/nixos.nix
  modules/vim/meta.nix
Labels: topic: nixos, topic: home-manager, topic: darwin

fontconfig: align hm with nixos and expand general fonts docs
  doc/src/configuration.md
  modules/font-packages/meta.nix
  modules/fontconfig/fontconfig.nix
  modules/fontconfig/hm.nix
  modules/fontconfig/meta.nix
  modules/fontconfig/nixos.nix
Labels: topic: nixos, topic: home-manager

bemenu: simplify opacity calculation
  modules/bemenu/hm.nix
Labels: topic: home-manager

mako: simplify opacity calculation
  modules/mako/hm.nix
Labels: topic: home-manager

tofi: simplify opacity calculation
  modules/tofi/hm.nix
Labels: topic: home-manager

treewide: simplify opacity calculation (#1459)
  modules/bemenu/hm.nix
  modules/mako/hm.nix
  modules/tofi/hm.nix
Labels: topic: home-manager

treewide: simplify opacity calculation (#1459)
  modules/bemenu/hm.nix
  modules/mako/hm.nix
  modules/tofi/hm.nix
Labels: topic: home-manager

treewide: simplify opacity calculation (#1459)
  modules/bemenu/hm.nix
  modules/mako/hm.nix
  modules/tofi/hm.nix
Labels: topic: home-manager

stylix: allow choosing testbed desktop
  modules/bspwm/testbeds/default.nix
  modules/gnome/testbeds/default.nix
  modules/hyprland/testbeds/default.nix
  modules/kde/testbeds/default.nix
  stylix/testbed/available-graphical-environments.nix
  stylix/testbed/default.nix
  stylix/testbed/graphicalEnvironments/bspwm.nix
  stylix/testbed/graphicalEnvironments/gnome.nix
  stylix/testbed/graphicalEnvironments/hyprland.nix
  stylix/testbed/graphicalEnvironments/kde.nix
  stylix/testbed/modules/application.nix
Labels: topic: testbed

matugen: rebuild from diffs
  doc/src/configuration.md
  doc/src/testbeds.md
  flake/default.nix
  flake/dev-shell.nix
  flake/modules.nix
  flake/packages.nix
  modules/glance/hm.nix
  modules/glance/nixos.nix
  modules/gnome/hm.nix
  modules/kubecolor/hm.nix
  modules/qt/hm.nix
  modules/qt/nixos.nix
  modules/qutebrowser/hm.nix
  modules/regreet/nixos.nix
  palette-generator/Ai/Evolutionary.hs
  palette-generator/Data/Colour.hs
  palette-generator/Stylix/Main.hs
  palette-generator/Stylix/Output.hs
  palette-generator/Stylix/Palette.hs
  palette-generator/default.nix
  stylix/hm/icon.nix
  stylix/home-manager-integration.nix
  stylix/palette.nix
  stylix/testbed/themes/cursorless.nix
  stylix/testbed/themes/dark.nix
  stylix/testbed/themes/imageless.nix
  stylix/testbed/themes/light.nix
  stylix/testbed/themes/schemeless.nix
Labels: topic: nixos, topic: home-manager, topic: testbed

i3status-rust: use mkTarget
  modules/i3status-rust/hm.nix
Labels: topic: home-manager

.github/labeler.yml:

# This file is used by .github/workflows/labels.yml
# This version uses `sync-labels: false`, meaning that a non-match will NOT
# remove the label
---
"backport: release-25.05":
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/*"

"topic: dependencies":
  - changed-files:
      - any-glob-to-any-file: "flake.lock"

"topic: documentation":
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "README.md"

"topic: nixos":
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/nixos/*"
          - "modules/*/nixos.nix"

"topic: home-manager":
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/hm/**"
          - "modules/*/hm.nix"

"topic: darwin":
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/darwin/**"
          - "modules/*/darwin.nix"

"topic: droid":
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/droid/**"
          - "modules/*/droid.nix"

"topic: overlay":
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/overlays.nix"
          - "modules/*/overlay.nix"

"topic: testbed":
  - changed-files:
      - any-glob-to-any-file:
          - "stylix/testbed/**"
          - "modules/testbed/**"
